# ── App ────────────────────────────────────────────────────────────────────────
BASE_URL=https://your-app.up.railway.app

GFORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSfI0WXue7Qg_-y6ukOsmylBFu8BWnsfInp9CWt2ZY6gtbAGOg/formResponse

GFORM_NAME=entry.1810443692
GFORM_EMAIL=entry.1282272068
GFORM_COMPANY=entry.2083451802
GFORM_ROLE=entry.1171016044
GFORM_HOW_HEARD=entry.518972485
GFORM_USE_CASE=entry.1483517663
GFORM_COLLECTION=entry.733773756
GFORM_FRAMEWORKS=entry.902499515
GFORM_CHANGES=entry.1152321901
GFORM_FORMAT=entry.1848111736
GFORM_TIMESTAMP=entry.47021805
GFORM_TOKEN=entry.1662570945

GFORM_SUPPORT_URL=https://docs.google.com/forms/d/e/1FAIpQLSfKONvCgE35I9f70P6gWPHfU4meetd39hUFg4KHnDNN1UfFVA/formResponse
GFORM_SUPPORT_EMAIL=entry.568404855
GFORM_SUPPORT_QUERY=entry.584910034
